.scappa {
    position: relative;
    width: 100px;
    height: 50px;
}

.scappa button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}